@using OnlineVideotekaFenixASPNET.Models
@model FilmViewModel
@{
    ViewBag.Title = "Movies overview";
}
<br />
<div class="row">
    <div class="col-md-4">

        <section id="picture">
            <img src="../Assets/madmax.jpg" alt="Sample Image" width="300" height="500"/>

        </section>
    </div>
    
    <div class="col-md-6">

        <section id="informations">
        

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Year, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Year, new {@class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.Year, "", new {@class = "text-danger"})
                </div>
            </div>
            <br/>
            <br />
        
            <div class="form-group">
                @Html.LabelFor(m => m.Rating, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Rating, new {@class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.Rating, "", new {@class = "text-danger"})
                </div>
            </div>
            <br/>
            <br />
        
            <div class="form-group">
                @Html.LabelFor(m => m.Duration, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Duration, new {@class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.Duration, "", new {@class = "text-danger"})
                </div>
            </div>
            <br/>
            <br />
        
            <div class="form-group">
                @Html.LabelFor(m => m.Genre, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Genre, new {@class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.Genre, "", new {@class = "text-danger"})
                </div>
            </div>
            <br/>
            <br />
        
            <div class="form-group">
                @Html.LabelFor(m => m.Director, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Director, new {@class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.Director, "", new {@class = "text-danger"})
                </div>
            </div>
            <br/>
            <br />
        
            <div class="form-group">
                @Html.LabelFor(m => m.Actors, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Actors, new {@class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.Actors, "", new {@class = "text-danger"})
                </div>
            </div>
            <br/>
            <br />
        
            <div class="form-group">
                @Html.LabelFor(m => m.Price, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Price, new {@class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.Price, "", new {@class = "text-danger"})
                </div>
            </div>
            <br/>
            <br />
      
        </section>
    
    </div>
    
    

    <section id="description">
        <div class="col-md-6">
            
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new {@class = "col-md-2 control-label"})
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Description, new {@class = "form-control", @readonly = "readonly"})
                    @Html.ValidationMessageFor(m => m.Description, "", new {@class = "text-danger"})
                </div>
            </div> 


        </div>
    </section>
   

</div>

<br/>
<br />
<div class="row">
    <div class="col-md-4">
        <section id="Ocjene">
            <div class="col-md-offset-3 col-md-10">
               <label title="text">Add a rate</label>
            </div>
            <div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="radio" id="star1" name="rate" value="1"/>
                    <label for="star1" title="text">1</label>
                    <input type="radio" id="star2" name="rate" value="2"/>
                    <label for="star2" title="text">2</label>
                    <input type="radio" id="star3" name="rate" value="3"/>
                    <label for="star3" title="text">3</label>
                    <input type="radio" id="star4" name="rate" value="4"/>
                    <label for="star4" title="text">4</label>
                    <input type="radio" id="star5" name="rate" value="5"/>
                    <label for="star5" title="text">5</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Buy" class="btn btn-primary"  onclick="location.href='@Url.Action("MyProfile","Home")'" />
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">

        <div class="form-group">
            <div class="col-md-offset-5 col-md-8">
                <input type="submit" value="Add on wishlist" class="btn btn-primary" />
            </div>
        </div>
        <br/>
        <br/>
    
        <div class="form-group">
            <div class="col-md-offset-5 col-md-12">
                <input type="submit" value="Add on watched list" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>




