@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <h2>Best rated movies</h2>

</div>

<div class="conttainer">
    <div><img src="../Assets/madmax.jpg" alt="Sample Image" width="300" height="500" onclick="location.href='@Url.Action("FilmOverview","Home")'"/></div><div><img src="../Assets/hacksaw.jpg" alt="Sample Image" width="300" height="500" onclick="location.href='@Url.Action("FilmOverview","Home")'"/></div><div><img src="../Assets/post.jpg" alt="Sample Image" width="300" height="500" onclick="location.href='@Url.Action("FilmOverview","Home")'"/></div>
</div>

<div class="row">
    <h2>Newest movies</h2>

</div>

<div class="conttainer">
    <div><img src="../Assets/bookclub.jpg" alt="Sample Image" width="300" height="500" onclick="location.href='@Url.Action("FilmOverview","Home")'"/></div><div><img src="../Assets/deadpool.jpg" alt="Sample Image" width="300" height="500" onclick="location.href='@Url.Action("FilmOverview","Home")'"/></div><div><img src="../Assets/breakingin.jpg" alt="Sample Image" width="300" height="500" onclick="location.href='@Url.Action("FilmOverview","Home")'"/></div>
</div>


